<% provide(:title, "Sign in") %>
<h1>Sign in</h1>

<h2>
  <%= form_for(:session, url: sessions_path) do |f| %>
    <div class="col-xs-6">
    <%= f.label :email %>
    </div>

    <div class-"col-xs-6">
    <%= f.text_field :email %>
    </div>

    <div class="col-xs-6">
    <%= f.label :password %>
    </div>

    <div class-"col-xs-6">
    <%= f.password_field :password %>
    </div>

    <div class="col-xs-12">
    <h3>
    <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
    </h3>
    <% end %>
    </div>

    <div class="col-xs-12">
      <p>New user? <%= link_to "Sign up now!", signup_path %></p>
    </div>

</h2>
