<% provide(:title, "Sign in") %>
<div class="container">
<h1>Sign in</h1>

<%= form_for(:session, url: sessions_path) do |f| %>
<div class="row form">
  <div class="col-xs-12 col-md-6 label">
    <%= f.label :email, :class => 'label' %>
  </div>

  <div class="col-xs-12 col-md-6">
    <%= f.text_field :email, :class => 'forminput' %>
  </div>
</div>

<div class="row form">
  <div class="col-xs-12 col-md-6 label">
    <%= f.label :password, :class => 'label' %>
  </div>

  <div class="col-xs-12 col-md-6">
    <%= f.password_field :password, :class => 'forminput' %>
  </div>
</div>

<div class="row form">
  <div class="col-xs-12 center">
    <%= f.submit "Sign in", class: "btn btn-large btn-primary center" %>
  </div>
</div>
<% end %>

<div class="row center">
  <div class="col-xs-12 center">
    <h3>New user? <%= link_to "Sign up now!", signup_path %></h3>
  </div>
</div>
</div>
