<%= render 'shared/error_messages', object: f.object %>

<div class="col-xs-12 col-md-3 col-md-offset-2">
  <%= f.label :name %>
</div>
<div class="col-xs-12 col-md-5">
  <%= f.text_field :name %>
</div>

<div class="col-xs-12 col-md-3 col-md-offset-2">
  <%= f.label :zip, "Zip/Postal Code" %>
</div>

<div class="col-xs-12 col-md-5">
  <%= f.text_field :zip %>
</div>

<div class="col-xs-12 col-md-3 col-md-offset-2">
  <%= f.label :dob, "Date of Birth" %>
</div>

<div class="col-xs-12 col-md-5">
  <%= date_select :user, :dob, :start_year => Time.now.year - 100, :end_year => Time.now.year, :order => [:month, :day, :year] %>
</div>


<div class="col-xs-12 col-md-3 col-md-offset-2">
  <%= f.label :email %>
</div>

<div class="col-xs-12 col-md-5">
  <%= f.text_field :email %>
</div>

<div class="col-xs-12 col-md-3 col-md-offset-2">
  <%= f.label :password %>
</div>

<div class="col-xs-12 col-md-5">
  <%= f.password_field :password %>
</div>

<div class="col-xs-12 col-md-3 col-md-offset-2">
  <%= f.label :password_confirmation, "Confirm Password" %>
</div>

<div class="col-xs-12 col-md-5">
  <%= f.password_field :password_confirmation %>
</div>
