<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

  <%= form_for(@user) do |f| %>
  <div class="col-xs-12 col-md-3 col-md-offset-2">
    <%= f.label :username %>
  </div>
  <div class="col-xs-12 col-md-5">
    <%= f.text_field :username %> 
  </div>
    <%= render 'fields', f: f %>
      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>

</div>
