<% provide(:title, 'Sign up') %>
<div class="container">
  <h1>Sign up</h1>
  <%= form_for(@user) do |f| %>
    <div class="row form">
      <div class="col-xs-12 col-md-6 label">
        <%= f.label :username, :class => 'label' %>
      </div>
      <div class="col-xs-12 col-md-6">
        <%= f.text_field :username, :class => 'forminput' %> 
      </div>
    </div>
    <%= render 'fields', f: f %>
    <div class="row form">
      <div class="col-xs-12 center">
        <%= f.submit "Create my account", class: "btn btn-large btn-primary center" %>
      </div>
    </div>
  <% end %>
</div>
