<% provide(:title, @title) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1><%= gravatar_for @user %>
      <%= @user.name %></h1>
      <span><%= link_to @user.username,@user %></span>
      <span><b>Microfaves:</b> <%= @user.microposts.count %></span>
    </section>
    <p>
      <%= render 'shared/stats' %>
    </p>
  </aside>
  <div class="span8">
    <h3><%= @title %></h3>
    <% if @users.any? %>
      <ul class="users">
        <%= render @users %>
      </ul>
      <%= will_paginate %>
    <% end %>
  </div>
</div>
