<div class="microfave">
  <div class="<%= feed_item.category %>">
    <li id="<%= feed_item.id %>">
      <li class="post">
        <span class="user"><%= link_to gravatar_for(feed_item.user), feed_item.user %>
        </span>
        <span><%= link_to feed_item.user.username, feed_item.user %>
        </span>
      </li>

      <li class="post">
        <span class="item"><a href=http://www.google.com/search?q=<%= feed_item.item.gsub ' ','+' %> target="_blank"><%= feed_item.item %></a></span>
        <span class="category">
          <% if feed_item.category=='Music' %>
            MUSIC
          <% end %>
          <% if feed_item.category=='Book' %>
            BOOK
          <% end %>
          <% if feed_item.category=='Movie' %>
            MOVIE
          <% end %>
          <% if feed_item.category=='TV' %>
            TV
          <% end %>
          <% if feed_item.category=='Website' %>
            WEBSITE
          <% end %>
          <% if feed_item.category=='Food' %>
            FOOD
          <% end %>
          <% if feed_item.category=='App' %>
            APP
          <% end %>
          <% if feed_item.category=='Fashion' %>
            FASHION
          <% end %>
          <% if feed_item.category=='Product' %>
            PRODUCT
          <% end %>
          <% if feed_item.category=='Other' %>
            OTHER
          <% end %>
        </span>
        <section class="content"><%= feed_item.content %></section>
        <nav>
          <span class="timestamp">Posted <%= time_ago_in_words(feed_item.created_at) %> ago.</span>
          <span class="buttons">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Share</a>
            <ul class="dropdown-menu">
              <li><%= link_to "Facebook", current_user %></li>
              <li><%= link_to "Twitter", current_user %></li>
              <li><%= link_to "Google+", current_user %></li>
              <li><%= link_to "Reddit", current_user %></li>
              <li><%= link_to "Stumble Upon", current_user %></li>
            </ul>
            <%= link_to "Like", current_user %>
            <%= link_to "Broadcast", current_user %>
            <%= link_to "Comment", current_user %>
            <% if current_user?(feed_item.user) %>
            <%= link_to "Delete", feed_item, :style=>'color:#B00000;', method: :delete,
                                     data: { confirm: "Are you sure?" },
			             title: feed_item.item, 
                                     title: feed_item.category,
                                     title: feed_item.content %>
            <% end %>
          </span>
        </nav>
      </li>
    </li>
  </div>
</div>
