<div class="microfave">
  <div class="<%= micropost.category %>">
    <li id="<%= micropost.id %>">
      <li class="post">
        <span class="user"><%= link_to gravatar_for(micropost.user), micropost.user %>
        </span>
        <span><%= link_to micropost.user.username, micropost.user %>
        </span>
      </li>

      <li class="post">
        <span class="item"><a href=http://www.google.com/search?q=<%= micropost.item.gsub ' ','+' %> target="_blank"><%= micropost.item %></a></span>
        <span class="category">
          <% if micropost.category=='Music' %>
            MUSIC
          <% end %>
          <% if micropost.category=='Book' %>
            BOOK
          <% end %>
          <% if micropost.category=='Movie' %>
            MOVIE
          <% end %>
          <% if micropost.category=='TV' %>
            TV
          <% end %>
          <% if micropost.category=='Website' %>
            WEBSITE
          <% end %>
          <% if micropost.category=='Food' %>
            FOOD
          <% end %>
          <% if micropost.category=='App' %>
            APP
          <% end %>
          <% if micropost.category=='Fashion' %>
            FASHION
          <% end %>
          <% if micropost.category=='Product' %>
            PRODUCT
          <% end %>
          <% if micropost.category=='Other' %>
            OTHER
          <% end %>
        </span>
        <section class="content"><%= micropost.content %></section>
        <nav>
          <span class="timestamp">Posted <%= time_ago_in_words(micropost.created_at) %> ago.</span>
          <span class="buttons">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Share<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Facebook", current_user %></li>
              <li><%= link_to "Twitter", current_user %></li>
              <li><%= link_to "Google+", current_user %></li>
              <li><%= link_to "Reddit", current_user %></li>
              <li><%= link_to "Stumble Upon", current_user %></li>
            </ul>
            <%= link_to "Like", current_user %>
            <%= link_to "Broadcast", current_user %>
            <%= link_to "Comment", current_user %>
            <% if current_user?(micropost.user) %>
            <%= link_to "Delete", micropost,  style: 'color:red', method: :delete,
                                     data: { confirm: "Are you sure?" },
			             title: micropost.item, 
                                     title: micropost.category,
                                     title: micropost.content %>
            <% end %>
          </span>
        </nav>
      </li>
    </li>
  </div>
</div>
