<div class="microfave">
  <div class="<%= micropost.category %>">
    <ul id="<%= micropost.id %>">
      <li class="post">
        <span class="user"><%= link_to gravatar_for(micropost.user), micropost.user %>
        </span>
        <span><%= link_to micropost.user.username, micropost.user %>
        </span>
      </li>

      <li class="post">
        <span class="item"><a href=http://www.google.com/search?q=<%= micropost.item.gsub ' ','+' %> target="_blank"><%= micropost.item %></a></span>
        <span class="category">
          <% if micropost.category=='Music' %>
            <i class="icomoon-music"></i>
          <% end %>
          <% if micropost.category=='Book' %>
            <i class="icomoon-book"></i>
          <% end %>
          <% if micropost.category=='Movie' %>
            <i class="icomoon-camera"></i>
          <% end %>
          <% if micropost.category=='TV' %>
            <i class="icomoon-tv"></i>
          <% end %>
          <% if micropost.category=='Website' %>
            <i class="icomoon-screen"></i>
          <% end %>
          <% if micropost.category=='Food' %>
            <i class="icomoon-food"></i>
          <% end %>
          <% if micropost.category=='App' %>
            <i class="icomoon-mobile"></i>
          <% end %>
          <% if micropost.category=='Fashion' %>
            <i class="icomoon-t-shirt"></i>
          <% end %>
          <% if micropost.category=='Product' %>
            <i class="icomoon-cart"></i>
          <% end %>
          <% if micropost.category=='Other' %>
            Other
          <% end %>
        </span>
        <section class="content"><%= micropost.content %></section>
        <nav class="postnav">
          <span class="timestamp">Posted <%= t(micropost.created_at) %></span>
          <span class="buttons">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="icomoon-share"></i><b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li class='st_facebook_large' displayText='Facebook'></li>
	      <li class='st_twitter_large' displayText='Tweet'></li>
	      <li class='st_googleplus_large' displayText='Google +'></li>
	      <li class='st_pinterest_large' displayText='Pinterest'></li>
	      <li class='st_reddit_large' displayText='Reddit'></li>
	      <li class='st_email_large' displayText='Email'></li>
            </ul>
            <%= link_to raw('<i class="icomoon-heart"></i>'), current_user %>
            <%= link_to raw('<i class="icomoon-bullhorn"></i>'), current_user %>
            <%= link_to raw('<i class="icomoon-bubbles"></i>'), current_user %>
            <% if current_user?(micropost.user) %>
            <%= link_to raw('<i class="icomoon-trash"></i>'), micropost, method: :delete,
                                     data: { confirm: "Are you sure?" },
			             title: micropost.item, 
                                     title: micropost.category,
                                     title: micropost.content %>
            <% end %>
          </span>
        </nav>
      </li>
    </ul>
  </div>
</div>
